@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> uManager
@model Player
@{var player = Model;}
<div class="player-container
    @if (player.Id == (Guid)ViewData["matchAdmin"]){@("match-admin")}"
     id="@player.Id">
    <div class="player">
        <a class="player-link" href="@player.steaumUrl" target="_blank">
            <img class="account-image" src="@player.avatar" />
        </a>
    </div>
    <a class="player-link" href="@player.steaumUrl" target="_blank">
        <h3 class="username">@Html.DisplayFor(modelItem => player.steamUsername)</h3>
    </a>
    @if (User.Identity.IsAuthenticated)
    {
        if (Guid.Parse(uManager.GetUserId(User)) == (Guid)ViewData["matchAdmin"])
        {
    <div class='add-roles'>
        <a class='add-role adminfy' player-id="@player.Id">Adminify</a>
        <a class='add-role kick' player-id="@player.Id">Kickify</a>
    </div>
        }
    }
</div>