@using Microsoft.AspNetCore.Identity
@inject UserManager<Player> uManager
@model Player
@{var player = Model;}
<div class="player-container @(player.Id == ViewData["matchAdmin"].ToString() ? "match-admin" : "")" id="@player.Id">
    <div class="player">
        <div class="player-link">
            <img class="account-image" src="@player.Avatar" />
        </div>
    </div>
    <div class="player-link">
        <h3 class="username">@Html.DisplayFor(modelItem => player.UserName)</h3>
    </div>
    @if (User.Identity.IsAuthenticated && uManager.GetUserId(User) == ViewData["matchAdmin"].ToString())
    {
        <div class='add-roles'>
            <a class='add-role adminfy' player-id="@player.Id">Adminify</a>
            <a class='add-role kick' player-id="@player.Id">Kickify</a>
        </div>
    }
</div>