@model IEnumerable<pickupsv2.Models.Map>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1>Manage Maps</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    Game
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var gameName = ((List<Game>)ViewBag.games).FirstOrDefault(g => g.GameId == item.GameId).Name;
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Image)
                    </td>
                    <td>
                        @gameName
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.MapId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.MapId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.MapId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
