@model pickupsv2.Models.Game

@{
    ViewData["Title"] = "Edit";
}
<div class="container">
    <h1>Edit</h1>
    <h4>Game</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="GameId" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Rules" class="control-label"></label>
                    <input asp-for="Rules" class="form-control" />
                    <span asp-validation-for="Rules" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div class="map-section">
        <h1>Maps</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var map in Model.Maps)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => map.Name)
                        </td>
                        <td>
                            <a asp-controller="Maps" asp-action="Edit" asp-route-id="@map.MapId">Edit</a> |
                            <a asp-controller="Maps" asp-action="Details" asp-route-id="@map.MapId">Details</a> |
                            <a asp-controller="Maps" asp-action="Delete" asp-route-id="@map.MapId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a asp-controller="Maps" asp-action="Create" asp-route-gameId="@Model.GameId">Create Map</a>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
