@model pickupsv2.Models.Match
@inject Microsoft.AspNetCore.Identity.UserManager<Player> uManager
@if (Model.Players.ToArray().Count() > 0) {
    var player = Model.Players[0];
    var match = Model;

    <div class="player-container col-md-2" id="@player.Id">
        <div class="player">
            @if (player.avatar != null)
            {
                <img class="account-image" src="@Url.Action("PlayerPhotos", "Matches", new { playerId = player.Id })" />
            }
            else
            {
                <img class="account-image" src="@player.avatar" />
            }
            @if (User.Identity.IsAuthenticated)
            {
                if (Guid.Parse(uManager.GetUserId(User)) == match.Admin)
                {
                    <div class='add-roles'>
                        <a class='add-role adminRole' player-id="@player.Id">Adminify</a>
                        <a class='add-role kick' player-id="@player.Id">Kickify</a>
                    </div>
                }
            }
            
        </div>
        @Html.DisplayFor(modelItem => player.steamUsername)
        <div class="player-role"></div>
        @if (player.Id == match.Admin)
        {<div class="player-admin"></div>}
    </div>
    }
